<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flights</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
    <div id="chartContainer" style="height: 500px; width: 100%;"></div>
    <h2>Your total commission in this period is: {{ total_commission }}</h2>
    <h2>Your total spending in this period is: {{ average_commission }}</h2>
    <h2>Your total spending in this period is: {{ sold_ticket_num }}</h2>

</body>
</html>